/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding-bottom: 35px;
}

.form-control {
    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;    
}
.btn {
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}
